* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-size: 40px 40px;
    background-image: linear-gradient(to right, lightgrey 1px, transparent 1px), linear-gradient(to bottom, lightgrey 1px, transparent 1px);
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;

    margin:0px;
    padding:0px;
    overflow: hidden;
}

/* Portrait layout (default) */
.app {
    /*position:absolute;            
    left:0px;
    top:0px;
    bottom:0px;                   
    right:0px;    

    background-color: lightskyblue;
    opacity: 0.8;               */
}

.menuButton {
    position: absolute;
    top:10px;
    left:10px;
    width: 50px;
    height: 50px;
}

.menuButtonShadow {
    position: relative;
    padding-left: 10px;
    width: 100%;
    height: 100%;
}

.menuButtonShadow:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 20px;
    width: 20px;
    height: 2px;;
    
    background: black;
    box-shadow: 
        0 7px 0 0 black,
        0 14px 0 0 black;
}

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 230px;
    max-width: 80%;
    overflow: auto;

    background-color: white;
    opacity: 0.8;
    transition: 0.3s;
    transform: translate3d(-230px, 0px, 0px);
}

.menuContent {    
    padding-top: 80px;  
}

.menuItem:first-child {
    border-top: 1px solid lightgray;
}

.menuItem:last-child {
    border-bottom: 0px;
}

.menuItem {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 23px;
    margin: 0;    
    border-bottom: 1px solid lightgray;
}

.menu.show {
    transition: 0.3s;
    transform: translate3d(0px, 0px, 0px);
}

.map {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.mapPane {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
}

.mapCover {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    background-color: gray;
    z-index: -1;
    opacity: 0;
}

.mapCover.show {
    z-index: 0;
    opacity: 0.6;    
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {

    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
